{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/knowledgebase/media/css/stmtdb.css" />
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="">
	<h2>Change Password for user {{user.username}}</h2>
        <form method="post" action=".">
            {% csrf_token %}
            <label for="id_password">Old Password:</label>
            {{ form.old_password }}<br/>
            <label for="id_password">New Password:</label>
            {{ form.new_password1 }}<br/>
            <label for="id_password">Retype Password:</label>
            {{ form.new_password2 }}<br/>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="/knowledgebase/logout/" />
            {% endif %}
            <input type="submit" value="Change Password" />
        </form>
    </div>
{% endblock %}
