<form id="edit-form">
	<link rel="stylesheet" type="text/css" href="/static/taginput/jquery.taginput.css" />
	<script type="text/javascript" src="/static/taginput/jquery.taginput.src.js"></script>
	<fieldset>
	<input type="hidden" name="user" value="{{user.id}}">
    <input type="hidden" id="id_annotations" name="annotations" value="{{annotations}}">
    <input type="hidden" id="id_tags" name="tags" value="{{annotations}}">
	<label for="title">Title</label>
	{{form.title}}
	<label for="author">Authors</label>
	{{form.author}}
	<label for="journal">Journal</label>
	{{form.journal}}
	<label for="publisher">Publisher</label>
	{{form.publisher}}
	<label for="year">Year</label>
	{{form.year}}
	<label for="volume">Volume</label>
	{{form.volume}}
	<label for="pages">Pages</label>
	{{form.pages}}
	<label>Annotations</label>
	<input id="notes" name="notes" value="{{annotations}}"/>
	</fieldset>
</form>
<script type="text/javascript">
$('#notes').taginput({
	placeholder: '...',
	onAdd: function(txt){
		$('#id_tags').val( txt + ', ' + $('#id_tags').val() );
		$('#id_annotations').val( txt + ', ' + $('#id_annotations').val() );
	},
	onRemove: function(txt){
		var new_val = $('#notes').val().replace(txt, "")
		$('#id_tags').val( new_val );
		$('#id_annotations').val( new_val );
	},
});
</script>
